.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
body{
    margin:0;
    background: #F0EFED;
}
a{
    text-decoration: none;
}
.topNavbar > nav > ul{
    list-style: none;
    margin:0;
    margin-right:32px;
}

.topNavbar > nav > ul > li{
    float:left;
}

.topNavbar > nav > ul > li >a{
    font-size: 12px;
    color: #b7b7b7;
    font-weight: bold;
    border-top: 10px solid transparent;
    border-bottom: 3px solid transparent;
    padding-top: 5px;
    padding-bottom: 5px;
    display: block;
    margin-left:17px;
    margin-right:17px;

}
.topNavbar > nav > ul > li >a:hover{
    border-bottom: 3px solid #f65a59
}

.clearfix::after{
    content:'';
    display: block;
    clear: both;
}
.topNavbar > nav{
    float:right;
}
.topNavbar > .logo{
    float:left;
    font-size: 24px;
    font-family: 'Arial Black';
    padding-top: 3px;
    padding-bottom: 4px;
}
.rs{
    color:#fc5d5a;
    margin-right:4px;
}
.rt{
    color:#9a9b9a;
}
.topNavbar{
    margin:20px 16px;
    position:fixed;
    top:0;
    left:0;
    width:100%;
}
.banner{
    background-image: url("../image/back.jpg");
    height:515px;
    background-position: center center;
    background-size: cover;
    
}
.banner .mask{
    height:515px;
    background-color: rgba(0,0,0,0.7);
}
.card{
    max-width: 940px;
    height:525px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: -345px;
    box-shadow: -1px 9px 14px -2px rgba(0,0,0,1);
}
.welcome{
    background-color: #FC5D5A;
    color:#FEFFFF;
    padding:5px 16px;
    position:relative;
    display:inline-block;
    line-height: 22px;
}
.welcome .triangle{
    width: 0px;
    border: 10px solid transparent;
    display: block;
    border-left-color: #FC5D5A;
    border-top-width: 0px;
    position:absolute;
    left:4px;
    top:100%;
}
.picture{
    float:left;
}
.picAndText{
    padding:55px 50px 45px 50px;
}
.text{
    float:left;
    margin:0;
    margin-left:65px;
    width:470px;
}
.card .text h1{
    margin: 28px 0 0 0;
    
}
.card .text p{
    margin:0;
    padding:3px 0;
}
.card .text hr{
    margin:20px 0px;
    height: 0;
    border: none;
    border-top: 1px solid #DEDEDE;
}
.card .text dt,.card .text dd{
    float:left;
    display:block;
}
.card .text dt{
    width:30%;
    margin:0;
    padding:5px 0;
    font-weight: bolder;
}
.card .text dd{
    width:70%;
    margin:0;
    padding:5px 0;
    color: #9D9EA0;
}
.card .media{
    background: #FC5D5A;
    text-align: center;
}
.card .media svg{
    width:30px;
    height:30px;
    fill:white;
    vertical-align:top;

}
.card .media a{
    width:40px;
    line-height:30px;
    display: inline-block;
    margin:16px;
    padding:10px 5px;
}
.card .media a:hover{
    border-radius: 100%;
    border:0px solid transparent;
    background: #CF5D5F;
    
}

main > a.button{
    display: block;
    width:100px;
    text-align: center;
    margin:42px auto;
    padding:20px 55px;
    border:1px solid #CCCFD1;
    border-radius: 3%;
    color: #545C66;
    font-size:15px;
    font-weight: bolder;
}
main > a.button:hover{
    box-shadow:  -1px 9px 16px -3px rgba(140,130,140,1);
    transition: 0.3s;
}
main > .selfIntro{
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    font-family: STXingkai;
    color: #545C66;
    font-size:18px;
    line-height: 2em;
}
section.skills{
    max-width: 940px;
    margin: 0 auto;
    
    
}
section.skills > h2{
    text-align: center;

}
section.skills ol,section.skills li{
    list-style: none;
}
section.skills > ol {
    background-color: #FFFFFF;
    box-shadow:  1px 4px 13px -2px rgba(140,130,140,1);
    border:1px solid #CCCFD1;
    padding-bottom:45px;
    padding:0 50px 45px 50px;
}
section.skills > ol li{
    float:left;
    width:48%;
    box-sizing: border-box;
    margin:34px 0 0 0;
    
}
section.skills h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-top:80px;
}
section.skills > ol li:nth-child(even){
    float:right;
}
section.skills > ol li:first-child .progress{
    width: 90%;
}
section.skills > ol li:nth-child(2) .progress{
    width: 70%;
}
section.skills > ol li:nth-child(3) .progress{
    width: 50%;
}
section.skills > ol li:nth-child(4) .progress{
    width: 30%;
}
section.skills > ol li h3{
    font-size:15px;
    font-weight: normal;
    margin: 0px;
    padding:4px 0;
    color: #3d4451;
}
section.skills > ol li .progressBar{
    height:5px;
    width:100%;
    background: #FFDFDF;
    border-radius: 2px;
}
section.skills > ol li .progress{
    height:100%;
    width:80%;
    background: #FF5E62;
    border-radius: 2px;
}
section.portfolio{
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}
section.portfolio h2{
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
    margin-top:80px;
}
section.portfolio ol,section.portfolio li{
    list-style: none;
    margin:0;
    padding:0;
}  
section.portfolio nav{
    text-align: center;
    display: inline-block;
}
section.portfolio nav ol{
    margin:0 auto;
    vertical-align: top;
    display: inline-block;
}
section.portfolio li{
    float:left;
    margin-left: 40px;  
    cursor: pointer;
}
section.portfolio li:first-child{
    margin-left: 0px;
}
section.portfolio .portfolioNavBar{
    height:5px;
    background-color: white;
    border-radius: 2px;
    margin-top:10px;
}
section.portfolio .barInner{
    height:100%;
    width:18%;
    background-color: #FF5E62;
    border-radius: 2px;
    transition: all 0.3s;
}
section.portfolio .portfolioNavBar.state-1 .barInner{
    width:20%;
    margin-left: 0px;
}
section.portfolio .portfolioNavBar.state-2 .barInner{
    width:20%;
    margin-left: 71px;
}
section.portfolio .portfolioNavBar.state-3 .barInner{
    width:20%;
    margin-left: 141px;
}
section.portfolio .portfolioImg{
    max-width: 920px;
    margin: 30px auto;
    text-align: center;
}
section.portfolio .portfolioImg .bigImg{
    float:left;
}
section.portfolio .portfolioImg .smallImg{
    float:right;
}
#smallImg3{
    margin-top: 16px;
}